.view{
    height: 50vh;
    position: relative;
    background-color: whitesmoke;
    margin-top: 100px;
}
.view1{
    margin-top: 10px;
    height: 20vh;
}
.ras1{
    margin-top: -1087px;
    margin-left: auto;
    
}
.ras{
    height: 1053px;
}